:root{
    --fondoSidebar:  #3F4C58;
    --fondoCuerpo: #fff;
    --loginButton: #6A94E6;
    --loginButtonHover: #5e81c7;
}

body{
    background-color: #F9F9F9;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}
.sidebar-login{
    background-image: url("../resources/Rectangle1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--fondoCuerpo);
    /*3F4C58  */
    display: flex;
    width: 35%;
    max-width: 350px;
    min-width: 350px;
    color: #fff;
    flex-flow: column;
    
    padding: 20px;
}
    .sidebar-login .sidebar-top {
        flex: 2 auto;
    }

    .sidebar-login .sidebar-bottom {
        flex: 0 auto;
    }

.login-container{
    position: left;
    background-color: #fff;
    background-image: url("../resources/map_gym.png");
    background-repeat: no-repeat;
    background-size: auto;
    padding: 40px;
    min-width: 700px;
    text-align: center;
}

.login-container h1 {
    font-weight: lighter;
    font-size: 35pt;
}


/* FORM */
.login-form .form-grid{
    border: none;
    padding: 0px 20px 0px 20px;

}
        .login-form .form-grid p label{
            display: block;
            text-align: center;
            padding: 20px;
            font-weight: lighter;
        }
            .login-form .form-grid p .form-field{
                text-align: center;
            }
            .login-form .form-grid p .form-field input[type=password], .login-form fieldset p .form-field input[type=text]{
                border-radius: 30px;
                border: .5px solid rgba(63, 76, 88, .2);
                padding: 15px 10px 15px 50px;
                text-align: center;
                min-width: 400px;
                box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.1);
                width: 30vw;
            }
            .login-form .form-grid p .form-field input[type=password]:focus, .login-form fieldset p .form-field input[type=text]:focus{
                outline-color: var(--loginButton);
                outline-style: dashed;
            }
    .button-submit input[type=submit]{
        background-color: var(--loginButton);
        border: none;
        border-radius: 30px;
        padding: 15px;
        width: 26vw;
        min-width: 350px;
        object-position: center;
        margin-top: 15px;
        box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.4);
        transition-duration: 500ms;
        color: #fff;
    }

        .button-submit input[type=submit]:hover{
            background-color: var(--loginButtonHover);
            cursor: pointer;
            transform: scale(1.1);
            transition-duration: 500ms;
        }
    .new-account{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 20px;
        padding-left: 20px;
        border: none;
    }

        .new-account hr {
            border: 0 none;
            border-style: dotted;
            border-top: 1px dashed;
            font-size: 20px;
            /* height: 2px; */
            color: var(--loginButton);
            max-width: 600px;
        }

        .new-account a{
            max-width: 600px;
            color: var(--loginButton);
        }
